.titulo{
    background-color: rgb(126, 0, 0);
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 40px 20px 40px 20px;
    

}

.titulo2{
    background-color: rgb(126, 0, 0);
    color: whitesmoke;
    text-align: center;
    font-size: 25px;
    margin: 40px 20px 40px 20px;
    
}

.img {
    width: auto;
    height: auto;
    text-align: center;
   
}

.list{
    
    font-size: 17px;
    text-align:center;
    margin-left: 750px ;
    margin-right:750px ;
}
.list2{
   
    font-size: 17px;
    text-align:center;
    margin-left: 750px ;
    margin-right:750px ;
}


.list-parra{
    text-align: center;
}




body{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}