/*
SELECTORES DE AGRUPACION

.clickme,
.noclick{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
.noclick{
    background-color: rgb(196, 196, 0);
}
*/

.para,
.small-para{
  color: hsl(0, 100%, 50%);
  font-size: 22px;
}

.small-para{
  font-size: 14px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
  font-size: 20px;
  
} 

button.button.cancel {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

div.text.child {
  color: red;
  font-size: 14px;
}
div.text {
    color: green;
    font-size: 22px;
  }

/*esta es otra parte de la practica*/
  

body {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .one {
    background: pink;
    border: 3px solid blue;
    /* CHANGE ME */
    padding: 30px;
    margin: 15px;
  }
  
  .two {
    background: lightblue;
    border: 3px solid purple;
    /* CHANGE ME */
    margin-bottom: 60px;
  }
  
  .three {
    background: peachpuff;
    border: 3px solid brown;
    width: 200px;
    /* CHANGE ME */
    padding: 50px;
    margin-left: 400px;
  }
  /*esta es la tercera practica*/

  body {
    background: #eee;
    font-family: sans-serif;
  }
  
  .card {
    width: 400px;
    background: #fff;
    margin: 16px auto;
  }
  
  .title {
    background: #e3f4ff;
  }
  
  .content {
    background: #e3f4ff;
  }
  
  .button-container {
    background: #e3f4ff;
  }
  
  button {
    background: white;
    border: 1px solid #eee;
  }